.user-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: black;
}

.user-selector li {
  list-style-type: none;
  margin: 10px;
  border: 3px solid #fff;
  width: calc(100% - 20px);
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

.user-selector li:hover {
  background-color: #fff;
  color: black;
}

.user-selector li a {
  text-decoration: none;
  color: black;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.chart-box {
  flex: 1 1 300px;
  max-width: 300px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer; /* Indicate clickable */
  margin-bottom: 10px;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
.fullscreen-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Semi-transparent background */
  z-index: 1000;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fullscreen-chart {
  width: 90%;
  height: 80%;
  max-width: 1000px;
  max-height: 800px;
}
.close-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background: none;
  border: none;
}
.mumber-list {
  padding: 0;
  padding-left: 1.2em;
}
.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  margin: 0;
  padding: 0;
}
.tag-list li {
  list-style-type: none;
  margin: 3px;
  border: 1px solid #fff;
  padding: 3px;
  border-radius: 10px;
  font-size: 0.8em;
}
.tag {
  border: 1px solid #fff;
  padding: 2px;
  border-radius: 10px;
  font-size: 0.8em;
}
.tag-active {
  background-color: #fff;
  color: black;
}
.tab-bar {
  display: flex;
  justify-content: center;
  margin: 10px;
  border-bottom: 1px solid #fff;
}
.tab-element {
  padding: 10px;
  cursor: pointer;
  font-size: 1em;
}
.tab-element-active {
  background-color: #fff;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
